:root {
  --whitishBg: #eee;
  --primary: #2f3536;
  --secondary: #ffcc54;
  --primaryLight: #585f60;
  --primaryDark: #060f10;
  --secondaryLight: #ffff85;
  --secondaryDark: #c89b20;
  --primaryText: #ffffff;
  --secondaryText: #000000;
}

body {
  background: var(--primary);
  color: var(--whitishBg);
  display: grid;
  grid-gap: 30px;
}

.item {
  cursor: pointer;
}

.axis path {
  stroke: var(--whitishBg);
}

.axis line {
  stroke: var(--whitishBg);
}

.axis text {
  font-size: 1em;
  stroke: var(--whitishBg);
}

.details {
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

.label {
  stroke: none;
  fill: var(--whitishBg);
}

.tooltip {
  border-radius: 5px;
  background: var(--whitishBg);
  color: var(--primaryDark);
  position: fixed;
  top: 10%;
  right: 20px;
  opacity: 0.8;
  visibility: visible;
  text-align: center;
  padding: 10px;
  max-width: 15%;
  overflow-wrap: break-word;
  transition: opacity 0.2s ease-in 0.2s;
}

.tooltip.hidden {
  opacity: 0;
  visibility: hidden;
}

svg {
  background-color: var(--primaryLight);
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(6, 15, 16, 0.53);
  -moz-box-shadow: 0px 1px 5px 2px rgba(6, 15, 16, 0.53);
  box-shadow: 0px 1px 5px 2px rgba(6, 15, 16, 0.53);
}

.boundary {
  fill: var(--secondary);
  stroke: var(--primaryDark);
  stroke-width: 1px;
}